/* Remove 80px top margin */
html {
    margin: 0;
}

/* Correct brand image */
.brand {
    background-image: url('/theme/img/paylogic.png') !important;
}

/* Nice developer portal text */
.devportal-text {
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    color: white;
    font-size: 1.5em;
}

.devportal-text a {
    color: white;
}

.devportal-text a:hover {
    color: #eee;
    text-decoration: none;
}

/* Different header styles */
h1, h2, h3, h4, h5, h6 {
    font-family: helvetica;
    margin-top:20px;
}

h1 { font-size: 1.9em }
h2 { font-size: 1.6em }
h3 { font-size: 1.3em }
h4 { font-size: 1.0em }
h5 { font-size: 0.7em }
h6 { font-size: 0.5em }

/* Nicer margin top */
.wrapper { margin-top: -20px; }

/* Syntax highlighting based on th Earendel color scheme
 * https://github.com/xolox/lua-lxsh/blob/master/src/colors/earendel.lua
 */
.highlight .c { color: #558817; }
.highlight .s { color: #a8660d; }
.highlight .nb { color: #2239a8; font-weight: bold; }
