{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} by {{ article.author }}{% endblock %}

{% block content %}
<section class="pl-section">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-4 uk-hidden-small">
                <div class="toc uk-text-small" data-uk-sticky="{top:76}" data-uk-scrollspy-nav>
                {{ article.toc }}
                </div>
            </div>
            <div class="uk-width-medium-3-4">
                <article class="uk-article">
                    <table class="uk-table uk-table-middle pl-table-article-meta">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="uk-thumbnail uk-margin-right">
                                    {% if article.author_gravatar %}
                                        <img src="{{ article.author_gravatar }}" alt="{{ article.author }}" />
                                    {% else %}
                                        <i class="uk-icon-user uk-icon-large"></i>
                                    {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div class="uk-article-meta">
                                        Written by <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
                                        on {{ article.locale_date }}<br />Posted in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h1 class="uk-article-title">{{ article.title }}</h1>
                    <hr class="uk-article-divider">
                    <div class="pl-article-content">{{ article.content }}</div>
                    {% if DISQUS_SITENAME %}
                        <hr class="uk-article-divider">
                        <div class="comments">
                            <h2>Comments</h2>
                            <div id="disqus_thread"></div>
                            <script type="text/javascript">
                                var disqus_identifier = "{{ article.url }}";
                                (function() {
                                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                    dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                })();
                            </script>
                        </div>
                    {% endif %}
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}
