{% extends "index.html" %}

{% block title %}Articles by {{ author }}{% endblock %}

{% block content %}
<section id="content">

    <h1>{{ author }}</h1>
    {{ authors_info.get(author) }}
    <hr />
    <h2>Articles</h2>

    <ol id="post-list">
        {% for article in articles_page.object_list %}
        <li>
            <article class="hentry">
                <header> 
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                        <h3 class="entry-title">{{ article.title }}</h3>
                    </a>
                </header>
                <footer class="post-info">
                    <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }}</abbr>
                </footer>
                <div class="entry-content"> {{ article.summary }}</div>
            </article>
        </li>
        {% endfor %}
    </ol>

    {% include 'pagination.html' %}
</section>

{% endblock %}
