{% extends "index.html" %}

{% block title %}Articles by {{ author }}{% endblock %}

{% block content %}
<section class="pl-section">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <h1 class="uk-panel-title">
                <div class="uk-thumbnail">
                {% if authors_info.get_gravatar(author) %}
                    <img src="{{ authors_info.get_gravatar(author) }}" alt="{{ author }}" />
                {% else %}
                    <i class="uk-icon-user"></i>
                {% endif %}
                </div>
                {{ author }}
            </h1>
            {{ authors_info.get(author) }}
            <hr class="uk-article-divider">
            <h2><i class="uk-icon-pencil uk-float-left uk-margin-small-right pl-icon-rounded"></i>Articles</h2>
            <ul class="uk-list uk-list-space">
                {% for article in articles_page.object_list %}
                <li>
                    <h3 class="uk-margin-bottom-remove">
                        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                    </h3>
                    <div class="uk-text-muted uk-text-small uk-margin-small-bottom">
                        Published on {{ article.locale_date }} - Posted in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                    </div>
                    <div class="pl-article-intro">{{ article.summary }}</div>
                </li>
                {% endfor %}
            </ul>
            <div class="uk-text-center pl-pagination">
                {% include 'pagination.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
