{% extends "base.html" %}

{% block title %}Authors{% endblock %}

{% block content %}
<section class="pl-section">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <h1 class="uk-panel-title">Authors</h1>
            {%- for author, articles in authors|sort %}
                <h2>
                    <a href="{{ SITEURL }}/{{ author.url }}">
                        {% if authors_info.get_gravatar(author) %}
                            <img src="{{ authors_info.get_gravatar(author) }}" alt="{{ author }}" />
                        {% else %}
                            <i class="uk-icon-user"></i>
                        {% endif %}
                        {{ author }}
                        <span class="uk-text-muted pl-text-normal">({{ articles|count }} article{% if articles|count > 1 %}s{% endif %})</span>
                    </a>
                </h2>
                {{ authors_info.get(author) }}
                {% if not loop.last %}<hr class="uk-article-divider">{% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
