{% extends "base.html" %}

{% block content %}
<section class="pl-section">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            {% block content_title %}
            <h1 class="uk-panel-title">All articles</h1>
            {% endblock %}

            <ul class="uk-list uk-list-space">
                {% for article in articles_page.object_list %}
                <li>
                    <h3 class="uk-margin-bottom-remove">
                        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                    </h3>
                    <div class="uk-text-muted uk-text-small uk-margin-small-bottom">
                        Published on {{ article.locale_date }}
                    </div>
                    <div class="pl-article-intro">{{ article.summary }}</div>
                </li>
                {% endfor %}
            </ul>

            <div class="uk-text-center pl-pagination">
                {% include 'pagination.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
