{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="uk-cover-background uk-position-relative" style="height: 500px; background-image: url({{ SITEURL }}/theme/img/office.jpg);">
    <img class="uk-invisible" src="{{ SITEURL }}/theme/img/office.jpg" width="500" />
    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle">
        <div class="uk-container uk-container-center">Something here</div>
    </div>
</div>

<section class="pl-section">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <p>Welcome to the Paylogic developers portal! This website is a platform for
                communication between the engineers &amp; devops at Paylogic and the world (you!).
                We use this website to share:</p>
            <ul class="uk-list uk-list-space">
                <li>Articles about technical topics involving programming (testing, design,
                    architecture) and system administration (high availability, automation,
                    performance testing) and community events like <a href="http://www.pygrunn.org/" target="_blank">PyGrunn</a>.</li>
                <li>Open source projects we've published (see also our <a href="https://github.com/paylogic" target="_blank">GitHub</a> account).</li>
                <li>How to integrate with Paylogic system.</li>
            </ul>
            <p>In the future this website will also host the documentation of the Paylogic
                ticketing API which is currently under development.</p>
        </div>
    </div>
</section>

<section class="pl-section">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <h1>More articles</h1>
            <ul class="uk-list">
            {% for article in articles_page.object_list %}
                {% if loop.index > 1 and loop.index < 10 %}
                <li>
                    <a class="reference" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
            {% if articles_page.object_list|length >= 10 %}
            <a href="{{ SITEURL }}/archives.html" title="Archives">Complete article listing</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}
